################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/RazorPagesMovie
/RazorPagesMovie/bin/Debug/net5.0
/RazorPagesMovie/obj
